

.iconWidth{
    width: 5%;
}
.line{
    width:100px ;
    height: 3px ;
    border-radius: 5px ;
    background-color: white;
}
.header{
    font-size: 3rem ;
    font-weight:bold;
}
.pFlex{
    font-size: 20px ;
}