.imgWidth{
    width: 20%;
}
.color{
    background-color: #1abc9c;
}
.fonts{
    font-size: 5rem;
    line-height: 3.5rem;
    font-weight: 700;
}
.iconWidth{
    width: 5%;
}
.line{
    width:100px ;
    height: 3px ;
    border-radius: 5px ;
    background-color: white;
}