/* common style  */
body{
    font-family: 'Montserrat', sans-serif;
}
.f-lato{
    font-family: 'Lato', sans-serif;
}
.bg-color{
    background-color: #1abc9c;
}
.color{
    background-color: #2c3e50;
}
